// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


@import 'fonts';
@import 'settings';


html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
}

.main {
  height: 100%;
  flex: 1 0 auto;
  transition: all 0.3s linear;
}

.page {
  &:has(.menu-item-has-children:hover) {
    & .overlay {
      background: rgba(0, 0, 0, 0.65);
     
    }

    & .header {
      position: relative;
      z-index: 10;
    }

    & .section{
      position: relative;
      z-index: -1;
    }
  }
}

.overlay{
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.3s linear;
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/breadcrumps';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/video';
@import 'blocks/salut';
@import 'blocks/life';
@import 'blocks/order';
@import 'blocks/mission';
@import 'blocks/works';
@import 'blocks/news';
@import 'blocks/contact';

// страница about
@import 'blocks/ahero';
@import 'blocks/submenu';
@import 'blocks/history';
@import 'blocks/today';
@import 'blocks/builder';
@import 'blocks/types';
@import 'blocks/philosophy';
@import 'blocks/managar';
@import 'blocks/success';
@import 'blocks/vacancy';

// страница requisite
@import 'blocks/requisite';

// страница 404
@import 'blocks/404';

// страница vacancy
@import 'blocks/vhero';
// @import 'blocks/success';
@import 'blocks/details';
// @import 'blocks/order';

// страница подразделения
@import 'blocks/division';

@import 'blocks/footer';