.builder__inner {
    padding: 48px 46px 71px;
    @include bg-cover;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 30px;
}

.builder__inner__title {
    max-width: 450px;
    position: absolute;
    top: 63px;
    left: 47px;
    z-index: 1;

    & p {
        font-weight: 500;
        font-size: 17px;
        color: #1c54ad;
        max-width: 349px;
    }
}

.builder__inner__item {
    padding: 26px 32px;
    background: #f4f6f9;
    border-radius: 10px;

    &:has(.swiper__hero__slide__link){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: unset;
    }

    & .swiper__hero__slide__link{
        margin-left: auto;
    }

    & h4 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        color: var(--accent-color);
        display: block;
        margin-top: 4px;
        max-width: 191px;
    }

    &.technology{
        grid-column: 9/12;
        grid-row: 1;
    }

    &.examination{
        grid-column: 6/9;
        grid-row: 2;
    }

    &.gallary{
        grid-column: 9/12;
        grid-row: 2;
    }

    &.partners{
        grid-column: 3/6;
        grid-row: 3;
    }

    &.projects{
        grid-column: 6/9;
        grid-row: 3;
    }

    &.comanda{
        background-color:  var(--accent-color);
        grid-column: 9/12;
        grid-row: 3;
        & h4{
            color: white;
        }
    }

}

.builder__inner__item__img {
    max-width: 116px;
    margin-left: auto;
}