.conditions__inner__item {
    padding: 34px 60px 55px;
    background: #e9eef3;
    border-radius: 10px;

    & ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & li::before {
        content: '';
        @include bg-cover;
        width: 15px;
        height: 15px;
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2215%22%20height=%2215%22%20viewBox=%220%200%2015%2015%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Ccircle%20cx=%227.5%22%20cy=%227.5%22%20r=%227.5%22%20fill=%22white%22/%3E%20%3Cpath%20d=%22M10.5%205.25L6.375%209.375L4.5%207.5%22%20stroke=%22%231C54AD%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%20%3C/svg%3E');
        display: inline-flex;
        margin-right: 20px;
    }

    & li {
        font-weight: 500;
        font-size: 17px;
        line-height: 206%;
        color: #404040;
    }
}

.conditions__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;


    & .flex-column {
        gap: 16px;
    }
}

.conditions__inner__item__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    color: #404040;
    text-transform: capitalize;
    margin-bottom: 22px;
}