.details__inner {
    background: #e9eef3;
    border-radius: 10px;
    padding: 35px 45px 50px;

    @include small-tablet {
        padding-left: 13px;
        padding-right: 13px;
    }

    & .project__title {
        max-width: 724px;
    }

    & .grid-row {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        gap: 16px;

        @include mobile{
            grid-template-columns: 1fr;
        }

        & .details__inner__item:first-child {
            justify-content: space-between;

            & h2+dl {
                margin-top: auto;
                margin-left: -2px;

                @include small-tablet {
                    margin-top: 28px;
                }
            }
        }

        &>.flex-row {
            justify-content: space-between;
            align-items: flex-start;
            gap: 16px;

            @include mobile{
                flex-wrap: wrap;
                justify-content: center;
            }

            & .details__inner__item {
                align-items: center;
            }
        }
    }
}

.details__inner__item {
    display: flex;
    flex-direction: column;


    & dl {
        gap: 15px;

        @include small-tablet {
            justify-content: center;
        }

        &+dl {
            margin-top: 15px;
        }

        & dd {
            font-size: 17px;
            line-height: 128%;
            color: #404040;

            @include small-tablet{
                text-align: center;
            }
        }
    }

    & .img-wrap {
        margin-bottom: 25px;
        max-width: 256px;
        border-radius: 50%;
        overflow: hidden;
    }

    & h3 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #404040;
        max-width: 300px;
        text-align: center;
        display: block;
        margin-bottom: 25px;

        @include small-tablet{
            font-size: 17px;
            margin-bottom: 14px;
        }
    }

    & p {
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: #404040;
        display: block;

        @include small-tablet{
            font-size: 15px;
        }

        &+a {
            margin-top: 50px;

            @include small-tablet{
                margin-top: 25px;
            }
        }
    }

    & a {
        display: block;
        font-size: 17px;
        line-height: 128%;
        color: #404040;

        display: flex;
        align-items: center;
        gap: 15px;

        @include small-tablet{
            font-size: 15px;
        }

        &+a {
            margin-top: 15px;
        }
    }
}