.wrapper {
    background: #1c54ad;
    padding: 29px 30px 40px 46px;
    border-radius: 10px;

    @include mobile{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    & * {
        font-size: clamp(15px , 3.6vw , 17px);
        color: #e9eef3;
    }
}

.footer__menu {
    display: flex;

    @media (max-width: 1800px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @include mobile{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
        gap: 8px;
        width: 100%;

        & li{
            text-align: center;
        }
    }

    & li {
        padding: 10px 20px;

        & a {
            white-space: nowrap;
        }
    }
}

.footer__logo {
    max-width: 128px;
    max-height: 69px;
}

.footer {
    & hr {
        margin-top: 29px;
        margin-bottom: 28px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .flex-column {
        @include for-desktop{
            align-items: center;
        }

        & .flex-column{
            @include mobile{
                display: none;
            }
        }

        & p {
            font-family: var(--second-family);
            font-size: 17px;
            color: #e9eef3;
            margin-bottom: 25px;
            min-width: 352px;

            @include small-mobile{
                min-width: unset;
                text-align: center;
            }
        }
    }

    & .wrapper {
        &>.flex-row {
            align-items: flex-start;
            gap: 16px;

            @include for-desktop{
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}
.footer__wrapper__mobile{
    display: none;
    margin-bottom: 24px;

    & hr{
        display: block;
        width: 100%;
        margin-top: 14px;
    }

    @include mobile{
        display: flex;
    }
}

.footer__order {
    background: #fff;
    border-radius: 10px;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 17px;
    color: #1c54ad;
    display: block;
    max-width: max-content;
    border: 1px solid transparent;
    transition: all 0.3s linear;

    @include small-mobile{
        text-align: center;
    }

    &:hover {
        border-color: #e9eef3;
        background-color: var(--accent-color);
        color: #e9eef3;
    }
}

.footer__social {
    gap: 30px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    line-height: 128%;

    @include for-desktop{
        align-items: center;
    }

    & a,
    & li {
        display: flex;
        align-items: center;
        gap: 15px;

        @include small-tablet{
            text-align: center;
        }

    }

    & .flex-row{
        gap: 28px;
    }
}

.footer__submenu{
    gap: 47px;
    margin-top: 50px;
    border-bottom:  1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 25px;

    @include small-tablet{
        margin-top: 34px;
        padding-bottom: 34px;
    }

    
    & li{
        & a{
            display: block;

            @include mobile{
                text-align: center;
            }
        }
    }

    & li:last-child{
        margin-left: auto;
        width: 100%;
        max-width: 343.5px;

        @include for-desktop{
            max-width: max-content;
            margin-left: unset;
        }
    }

    & + .footer__text{
        margin-top: 35px;
        text-align: center;
    }
}