.geoplan__inner {
    display: flex;
    // align-items: center;
    gap: 16px;

    @media (max-width: 1600px) {
        flex-wrap: wrap;
    }

    & .img-wrap {
        width: 100%;
        
        & img{
            width: 100%;
        }
    }

    & .philosophy__inner__question {
        background-color: var(--accent-color);
        position: relative;
        width: 100%;
        max-width: 697px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 1600px) {
            max-width: unset;
        }

        & form * {
            position: relative;
            z-index: 2;
        }

        & .genplan__svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate3d(-50%, -50%, 0);
            z-index: 0;
        }
    }
}