.header {
    padding: 30px 0;
    background-color: #fff;

    .burger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
        height: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;

        @media (max-width: 1100px) {
            display: flex;
        }
    }

    .burger-menu span {
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .burger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(1.5px, 7px);
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -8px);
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .flex-row {
        @media (max-width:1800px) {
            flex-direction: column;
            gap: 8px;
        }

        @media (max-width:1100px) {
            flex-direction: unset;
        }
    }
}

.header__logo {
    display: block;

    @include small-tablet{
        & svg{
            display: none;
        }
    }
}

.header__inner .nav-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 1100px) {
        display: none;
    }

    &>li {
        padding: 10px 25px;
        transition: 0.3s linear;
        border-radius: 10px;

        &:hover {
            background-color: #1c54ad;
            color: white;
        }
    }

    & a {
        font-size: 17px;
        white-space: nowrap;
    }
}

.header__call {
    font-size: 17px;
    padding: 10px 25px;
    transition: 0.3s linear;
    border-radius: 10px;
    white-space: nowrap;

    &:hover {
        background-color: #1c54ad;
        color: white;

        & svg {
            stroke: white;
        }
    }

    & svg {
        display: none;
        stroke: #1C54AD;
        transition: all 0.3s linear;

        @include medium-desktop {
            display: block;
        }
    }

    @include medium-desktop {
        & span {
            display: none;
        }
    }
}

.header__order {
    white-space: nowrap;
    color: var(--accent-color);
    transition: all 0.3s linear;
    font-weight: 500;
    font-size: 17px;
    font-family: inherit;

    &:hover {
        color: var(--button-hover);
    }

    @include medium-desktop {
        display: none;
    }
}

nav {

    /* Стиль для элементов меню с дочерними пунктами */
    & .menu-item-has-children {
        position: relative;
        /* Для позиционирования дочерних элементов */
        transition: all 0.3s ease;
    }

    /* Стиль для подменю */
    & .menu-item-has-children .sub-menu {
        padding: 0;
        margin: 0;
        // display: none;
        display: flex;
        /* Скрываем подменю по умолчанию */
        position: absolute;
        top: calc(100% + 38px);
        /* Начинаем подменю прямо под родительским элементом */
        left: 0;
        background-color: transparent;
        /* Фон подменю */
        // padding-t    op: 39px; /* Отступы внутри подменю */
        border-radius: 10px;
        /* Скругленные углы */
        list-style: none;
        flex-direction: column;
        gap: 8px;
        min-width: 100%;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        visibility: hidden;
        opacity: 0;

        @media (max-width:1800px) {
            top: calc(100% + 100px);
        }

        &:before {
            width: 100%;
            height: 38px;
            background-color: transparent;
            content: "";
            position: absolute;
            bottom: 100%;
            left: 0;

            @media (max-width:1800px) {
                height: 100px;
            }
        }
    }

    /* Показ подменю при наведении */
    & .menu-item-has-children:hover .sub-menu {
        // display: flex;
        transform: rotateX(0);
        opacity: 1;
        visibility: visible;

        &:has(img) {
            transform: translateX(-50%) rotateX(0) !important;
        }
    }

    /* Стили для ссылок меню */
    & .menu-item-has-children>a,
    & .menu-item-has-children .sub-menu li {
        text-decoration: none;
        /* Убираем подчеркивание */
        color: inherit;
        /* Цвет текста */
        font-weight: 500;
        font-size: 17px;
        line-height: 147%;
        display: block;
        // max-width: max-content;

        /* Блочные элементы */

        & a {
            display: block;
            // max-width: max-content;
        }
    }

    & .menu-item-has-children .sub-menu li {
        background: #fff;
        border-radius: 10px;
        /* Скругленные углы */
        color: var(--accent-color);
        padding: 17px 15px;
        width: 100%;
        text-align: center;
        transition: all 0.3s linear;

        &:hover {
            background-color: var(--accent-color);
            color: white;
        }
    }

    & .menu-item-has-children .sub-menu li:has(img) {
        &:hover {
            // color: var(--accent-color);
            // background-color: #fff;

            a:before {
                background-image: url('data:image/svg+xml,%3Csvg%20width=%2241%22%20height=%2241%22%20viewBox=%220%200%2041%2041%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Ccircle%20cx=%2220.5%22%20cy=%2220.5%22%20r=%2220%22%20fill=%22white%22%20stroke=%22#1C54AD%22/%3E%20%3Cpath%20d=%22M16.918%2021H25.0846%22%20stroke=%22#1C54AD%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%20%3Cpath%20d=%22M21%2016.9167L25.0833%2021.0001L21%2025.0834%22%20stroke=%22#1C54AD%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%20%3C/svg%3E');

            }
        }
    }

    /* Анимация */
    & .menu-item-has-children .sub-menu {
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    & .menu-item-has-children:hover .sub-menu {
        opacity: 1;
        visibility: visible;
    }

    & .sub-menu:has(img) {
        flex-direction: row !important;
        transform: translateX(-50%) rotateX(-90deg) !important;
        left: 50% !important;

        @media(max-width: 1350px) {
            flex-direction: column !important;
        }

        &>li>a {
            display: flex !important;
            flex-direction: column-reverse;
            gap: 50px;
            justify-content: space-between;
            height: 100%;
            padding: 15px;
            padding-bottom: 24px;
            color: transparent;
            position: relative;

            &:before {
                transition: all 0.3s linear;
                content: '';
                position: absolute;
                top: 0px;
                right: 0px;
                @include bg-cover;
                width: 41px;
                height: 41px;
                background-image: url('data:image/svg+xml,%3Csvg%20width=%2241%22%20height=%2241%22%20viewBox=%220%200%2041%2041%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Ccircle%20cx=%2220.5%22%20cy=%2220.5%22%20r=%2220.5%22%20fill=%22#1C54AD%22/%3E%20%3Cpath%20d=%22M16.918%2021H25.0846%22%20stroke=%22#E9EEF3%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%20%3Cpath%20d=%22M21%2016.9167L25.0833%2021.0001L21%2025.0834%22%20stroke=%22#E9EEF3%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%20%3C/svg%3E');
            }
        }
    }
}

.mobile__menu {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 137px;
    left: 0;
    right: 0;
    z-index: 200;
    transition: all 0.3s linear;
    transform-origin: 0 0;
    transform: rotateX(-90deg);

    &.active {
        display: flex;
    }

    &.animate {
        transform: rotateX(0);
    }

    & ul {
        max-width: 400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        @include small-mobile{
            max-width: 300px;
        }
    }

    & li,
    & a {
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        transition: all 0.3s linear;
    }

    & a {
        background: var(--accent-color);
        padding: 10px 20px;
        border-radius: 10px;
        display: block;
        overflow: hidden;
        max-width: max-content;
    }

    & .menu-item-has-children {
        &>.sub-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 16px;
            margin-top: 16px;
            transform-origin: 0 0;
            transition: all 0.3s linear;
            transform: rotateX(-90deg);
            opacity: 0;
            visibility: hidden;
            display: none;

            &>li>a {
                background-color: #fff;
                color: var(--accent-color);

                & a {
                    color: inherit;
                }
            }

            &.active {
                display: flex;
            }

            &.animate {
                opacity: 1;
                visibility: visible;
                transform: rotateX(0);

            }
        }
    }

}

.header__logo__mobile {
    display: none;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    color: #1c54ad;
    text-transform: uppercase;

    @include small-tablet{
        display: block;
    }
}