.liabout {
    & .grid-row {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 16px;

        @include mobile{
            grid-template-columns: 1fr;
        }
    }

    & .liabout__item {
        background: #e9eef3;
        border-radius: 10px;
        padding: 25px 35px;
        padding-right: 77px;

        @include small-tablet{
            padding-left: 13px;
            padding-right: 13px;
        }

        & .project__title {
            margin-bottom: 35px;
        }

        & h3 {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            color: #404040;

            @include small-tablet{
                font-size: 17px;
                text-align: center;
            }
        }

        & p{
            font-size: 17px;
            line-height: 125%;
            font-weight: 500;
            margin: 0;

            @include small-tablet{
                font-size: 15px;
                text-align: center;
            }

            & + p{
                margin-top: 35px;
            }

        }
        &.--accent{
            & h3, & p{
                color: white;
            }
        }
    }
}