.managar__inner {
    padding: 45px;
    border-radius: 10px;

    @include small-tablet{
        padding-right: 13px;
        padding-left: 13px;
    }

    &>.flex-row {
        justify-content: space-between;
        margin-bottom: 130px;

        @include small-tablet{
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-bottom: 65px;
        }

        & .type__tile {
            font-weight: 500;
            color: var(--accent-color);
            border: 1px solid transparent;

            &:hover {
                border-color: white;
                color: white;
            }
        }
    }

    & .swiper__managars{
        display: none;

        @include small-tablet{
            display: block;
        }

        & .swiper-button-prev,
        & .swiper-button-next{
            background-color: #fff;
            border: 1px solid white;

            & svg{
                stroke: var(--accent-color) !important;
            }
            &:hover{
                background-color: var(--accent-color);

                & svg{
                    stroke: #fff !important;
                }
            }

        }
    }

    &>.grid-row {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 70px;

        @media (max-width: 1600px) {
            gap: 16px;
        }

        @media (max-width: 1350px) {
            display: flex;
            flex-wrap: wrap;
        }

        @include small-tablet{
            display: none;
        }

    }
}

.managar__inner__item {

    @media (max-width: 1350px) {
        flex: 1 0 calc(33.3% - 16px);
    }
    
    @include for-desktop{
        flex: 1 0 calc(50% - 16px);

    }

    & .img-wrap {
        max-width: 214px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;
    }

    & h4 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
        text-align: center;

        @include small-tablet{
            font-size: 17px;
        }
    }

    & p {
        text-align: center;
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        color: #fff;

        @include small-tablet{
            font-size: 15px;
        }
    }
}