.pagecontact {
    & .project__title--main {
        margin-bottom: 55px;
    }

    &+.order {
        & .project__title {
            max-width: 701px;
        }
    }

    & .container{
        &:last-child{
            max-height: 532px;

            & .embed-container, & iframe{
                min-height: 532px;
                overflow: hidden;
                border-radius: 10px;
            }
        }
    }
}