.perspective {
    & .flex-row {
        gap: 16px;
        justify-content: space-between;
        padding: 50px 45px;
        @include bg-cover;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 1700px) {
            flex-wrap: wrap;

            & .project__title {
                max-width: 500px;
            }
        }

        @media (max-width: 680px) {
            padding-left: 13px;
            padding-right: 13px;
        }


        & .grid-row {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
            max-width: 1076px;

            @media (max-width: 1700px) {
                margin-left: auto;
            }

            @include for-desktop {
                margin-left: unset;
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 680px) {
                grid-template-columns: 1fr;
            }
        }

        & .perspective__item {
            padding: 25px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include small-tablet {
                padding-left: 13px;
                padding-right: 13px;
            }

            &:nth-child(1) {
                grid-column: 2;

                @include for-desktop {
                    grid-column: unset;
                }

                @media (max-width: 680px) {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:nth-child(4) {
                @include for-desktop {
                    grid-column: 1/2;
                    grid-row: 2;
                }

                @media (max-width: 680px) {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &:nth-child(8) {
                @include for-desktop {
                    grid-column: 1/2;
                    grid-row: 4;
                }

                @media (max-width: 680px) {
                    grid-column: unset;
                    grid-row: unset;
                }
            }

            &.--white {

                & h3,
                & p {
                    color: #404040;
                }

                @include for-desktop {

                    &:nth-child(3),
                    &:nth-child(7) {
                        grid-column: 2/3;
                    }

                    &:nth-child(5) {
                        grid-row: 3;
                    }
                }

                @media (max-width: 680px) {

                    &:nth-child(3),
                    &:nth-child(7),
                    &:nth-child(5) {
                        grid-column: unset;
                        grid-row: unset;
                    }
                }
            }

            &.text {
                padding: 0;

                @include small-tablet{
                    text-align: center;
                }
            }

            & h3 {
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 20px;
                color: #fff;
                margin: 0;

                @include small-tablet {
                    font-size: 17px;
                }
            }

            & p {
                color: #fff;
                margin: 0;
                font-weight: 500;
                font-size: 17px;
                margin-top: 20px;

                @include small-tablet {
                    font-size: 15px;
                }

                &+h3 {
                    margin-top: 20px;
                }
            }

            & svg {
                max-width: 114px;
                max-height: 114px;
                display: block;
                margin-left: auto;

                @include small-tablet{
                    max-width: 92px;
                    max-height: 92px;
                }
            }


        }
    }
}