.requisite {
    & .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 48px;
    }

    & .requisite__item:first-child {
        grid-column: 5 span;
        background: #e9eef3;
        border-radius: 10px;
        padding: 41px 42px 52px;
    }

    & .requisite__item:last-child {
        grid-column: 3 span;

    }
}

.requisite__item {

    & .project__title--main {
        font-size: 65px;
        margin-bottom: 27px;
        margin-top: -10px;
    }

}

.requisite__item__list {
    & li {
        padding: 15px 25px;
        border-radius: 10px;
        margin-left: -26px;
        margin-right: -26px;
    }

    & dl {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        align-items: center;
    }

    & dt {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 147%;
        color: #404040;
    }

    & dd {
        font-size: 17px;
        line-height: 147%;
        color: #404040;
        text-align: right;
        letter-spacing: -0.7px;
    }

}

.requisite__item__right {
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin-bottom: 64px;

    & li {
        padding: 20px 48px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 147%;
        color: #404040;
        background: #e9eef3;
        border-radius: 10px;
    }
}