.sindescription__inner {
    @include bg-cover;
    padding: 45px 50px;

    @include mobile {
        padding-left: 10px;
        padding-right: 10px;
    }

    & .grid-row {
        &:first-child {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 16px;

            @include for-desktop {
                grid-template-columns: 1fr;
            }
        }

        &:last-child {
            margin-top: 85px;
            grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));

            @include tablet {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 16px;

                & li {
                    flex: 1 0 calc(33.3% - 16px);
                }
            }

            @include mobile{
                margin-top: 50px;
            }

            & dl {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                & dt {
                    font-family: var(--second-family);
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 71%;
                    text-align: center;
                    color: var(--accent-color);
                }

                & dd {
                    font-size: clamp(17px, 3.4vw, 20px);
                    text-align: center;
                    color: var(--accent-color);
                }
            }
        }
    }
}

.sindescription__inner__right {
    & h3 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: clamp(15px, 3.5vw, 17px);
        line-height: 147%;
        color: #404040;
        margin-bottom: 30px;

        @include mobile {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    & p {
        font-weight: 500;
        color: #404040;
        line-height: 147%;
        font-size: 17px;

        @include mobile {
            font-size: 15px;
            text-align: center;
        }
    }

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin-bottom: 40px;

        @include mobile {
            text-align: center;
            margin-bottom: 20px;
        }


        & li {
            font-weight: 500;
            color: #404040;
            line-height: 147%;
            font-size: clamp(15px, 3.5vw, 17px);

            &:before {
                content: '';
                background-image: url('data:image/svg+xml,%3Csvg%20width=%2215%22%20height=%2215%22%20viewBox=%220%200%2015%2015%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Ccircle%20cx=%227.5%22%20cy=%227.5%22%20r=%227.5%22%20fill=%22white%22/%3E%20%3Cpath%20d=%22M10.5%205.25L6.375%209.375L4.5%207.5%22%20stroke=%22#1C54AD%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22/%3E%20%3C/svg%3E');
                width: 15px;
                height: 15px;
                @include bg-cover;
                display: inline-flex;
                margin-right: 11px;
            }
        }
    }
}