.submenu {

    &>.grid-row {
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
    }

    & .history {
        grid-column: 4 span;
        grid-row: 1/3;
        // justify-content: space-between;

        & .flex-row {
            align-items: flex-start;
            flex-grow: 1;
            justify-content: space-between;
        }

        & .submenu__item__img {
            margin-top: 20px;
        }
    }

    & .vacancy {
        grid-column: 3 span;
        grid-row: 1;
    }

    & .managars {
        grid-column: 5 span;
        grid-row: 1;

        & svg{
            stroke: #E9EEF3;
        }

        &:has(.type__tile:hover){
            background-color: #fff;

            & h2, & h3 {
                color: var(--accent-color) !important;
            }
    
            & p {
                color: var(--accent-color) !important;
            }

            & svg{
                stroke: var(--accent-color);
            }
            
        }
    }

    & .requisites {
        grid-column: 4 span;
        grid-row: 2;
    }

    & .types {
        grid-column: 4 span;
        grid-row: 2;
    }

    & .today {
        grid-column: 4 span;
        grid-row: 3;
    }

    & .reliable {
        grid-column: 5 span;
        grid-row: 3;
    }

    & .principles {
        grid-column: 3 span;
        grid-row: 3;
    }
}

.submenu__item {
    border-radius: 10px;
    background: #e9eef3;
    padding: 20px 30px 40px;

    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s linear;

    & .type__tile {
        color: var(--accent-color);
        font-weight: 500;
    }

    &:has(.swiper__hero__slide__link:hover) {
        background-color: var(--accent-color);

        & h2, & h3 {
            color: #fff;
        }

        & p {
            color: #fff;
        }
    }

    &:has(.type__tile:hover){
        background-color: var(--accent-color);

        & h2, & h3 {
            color: #fff;
        }

        & p {
            color: #fff;
        }
    }


    & h2 {
        margin-bottom: 10px;
    }

    & p {
        font-weight: 500;
        font-size: 17px;
        line-height: 147%;
        color: #404040;
        display: block;
        margin-bottom: 30px;
    }

    & h3 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        color: #3a4659;
        margin-bottom: 8px;
    }

    & p {
        font-weight: 500;
        font-size: 17px;
        line-height: 147%;
        color: #404040;
    }

    .submenu__item__icon {
        // flex-grow: 1;
        background-color: white;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 58px;

        & svg {}
    }

    .swiper__hero__slide__link {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
}

.managars {
    background: #1c54ad;

    & .grid-row {
        grid-template-columns: 1fr 183px;
    }

    & h2,
    & p {
        color: #fff !important;
    }
}