.success__inner {
    padding: 85px 120px;
    @include bg-cover;
    border-radius: 10px;


    & blockquote {
        position: relative;


        &:before,
        &:after {
            @include bg-cover;
            position: absolute;
            z-index: 1;
            content: '';
            width: 41px;
            height: 25px;
            background-image: url('data:image/svg+xml,%3Csvg%20width=%2231%22%20height=%2225%22%20viewBox=%220%200%2031%2025%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M10.7898%2024.3H0.789844L7.28984%200H14.7898L10.7898%2024.3ZM26.2898%2024.3H16.2898L22.7898%200H30.2898L26.2898%2024.3Z%22%20fill=%22%23404040%22/%3E%3C/svg%3E');
        }

        &::before {
            transform: translate3d(0, -100%, 0);
            top: 0;
            left: 0;
        }

        &::after{
            bottom: 0;
            right: 0;
            transform: translateX(100%);
        }



        & h3 {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
            text-align: center;
            color: #404040;
        }

        & p {
            font-size: 17px;
            line-height: 125%;
            text-align: center;
            color: #404040;
            font-weight: 500;
            margin-top: 25px;

            & b {
                font-weight: 700;
            }
        }
    }
}

.success.white{
    & h3, & p{
        color: white;
    }
    & blockquote{
        &:before, &:after{
            background-image: url('data:image/svg+xml,%3Csvg%20width=%2231%22%20height=%2225%22%20viewBox=%220%200%2031%2025%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Cpath%20d=%22M10.7898%2024.3H0.789844L7.28984%20-4.76837e-06H14.7898L10.7898%2024.3ZM26.2898%2024.3H16.2898L22.7898%20-4.76837e-06H30.2898L26.2898%2024.3Z%22%20fill=%22white%22/%3E%20%3C/svg%3E');
        }
    }
}