.today__inner {
    @include bg-cover;
    padding: 40px 45px 90px;
    border-radius: 10px;
    height: 100vh;
    max-height: 779px;
    display: flex;
    flex-direction: column;

    @include medium-desktop {
        max-height: none;
        height: unset;
    }

    @include small-tablet {
        padding-left: 13px;
        padding-right: 13px;
    }

    & * {
        color: white;
    }

    & .grid-row {
        flex-grow: 1;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    & .flex-column {
        & h3 {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 20px;

            @include small-tablet {
                text-align: center;
            }

            @include mobile {
                font-size: 17px;
            }
        }

        & p {
            font-size: 17px;
            font-weight: 500;
            max-width: 750px;

            @include small-tablet {
                text-align: center;
            }

            @include mobile {
                font-size: 15px;
            }

            & b {
                font-weight: 700;
            }
        }
    }
}

.today__inner__bottom {
    display: flex;
    gap: 100px;
    justify-content: space-between;

    @media (max-width: 1600px) {
        flex-wrap: wrap;
        gap: unset;
        column-gap: 80px;
        row-gap: 30px;
        margin-top: 100px;
    }

    & hr {
        margin-top: 36px;
        margin-bottom: 26px;

        @include mobile{
            margin-top: 24px;
            margin-bottom: 12px;
        }
    }


}

.today__inner__bottom {

    & dl {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & dt {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 35px;

            @include mobile {
                font-size: 25px;
            }
        }

        & dd {
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;

            @include mobile {
                font-size: 15px;
            }
        }
    }

    & li {

        &:not(:last-child) {
            @media (max-width: 1600px) {
                flex: 1 0 230px;
                text-align: center;
            }

            @media (max-width: 1400px) {
                max-width: max-content;
            }

            @include for-desktop {
                flex: 1 0 calc(50% - 40px);
                max-width: none;
            }
        }

        &:last-child {
            background: #1c54ad;
            max-width: 320px;
            padding: 20px 20px 50px;
            border-radius: 10px;
            position: relative;
            transition: all 0.3s linear;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include small-tablet {
                max-width: none;
                width: 100%;
            }

            @include mobile{
                padding-bottom: 20px;
            }

            &:has(.swiper__hero__slide__link:hover) {
                background-color: #fff;

                & h3,
                & p {
                    color: var(--accent-color);
                }
            }

            & h3 {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 20px;

                @include mobile{
                    font-size: 17px;
                }
            }

            & p {
                font-weight: 500;
                font-size: 15px;

                @include mobile{
                    max-width: 250px;
                }
            }

            & .swiper__hero__slide__link {
                position: absolute;
                right: 20px;
                top: 15px;
                z-index: 1;
                background-color: white;

                &:hover {
                    background-color: var(--accent-color);

                    & svg {
                        stroke: #fff;
                    }
                }

                & svg {
                    stroke: var(--accent-color);
                }
            }
        }
    }

}