.video__inner {
    position: relative;

    &.hide{
        & .video__inner__play, & .video__inner__preview{
            opacity: 0;
            visibility: hidden;
            transform: rotateX(-90deg);
        }


    }
}

.video__inner__preview {
    position: absolute;
    inset: 0;
    z-index: 100;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.3s linear;
    transform-origin: 0 0;

    @include bg-cover;

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    & p {
        font-weight: 500;
        font-size: 15px;
        color: #e9eef3;
    }
}

.video__inner__play {
    width: 112px;
    height: 112px;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 110;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.3s linear;
    transform-origin: 0 0;

    &:hover{
        background-color: var(--accent-color);

        & svg{
            fill: white;
            stroke: white;
        }
    }

    & svg {
        width: 36px;
        position: absolute;
        top: 50%;
        left: calc(50% + 3px);
        z-index: 120;
        transform: translate3d(-50%, -50%, 0);
    }
}