<footer class="footer">
    <div class="container">
        <div class="wrapper">
            <div class="flex-row">
                <div class="flex-column">
                    <a href="#" class="footer__logo">
                        <img src="./assets/images/footer/СФО.svg" alt="logo">
                    </a>
                    <hr>
                    <p>Есть вопросы или предложения?</p>
                    <a href="" class="footer__order">Обратиться к руководителю</a>
                </div>
                <ul class="list-reset footer__menu">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Подразделения</a></li>
                    <li><a href="">О светлом</a></li>
                    <li><a href="">Проекты</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Тендеры</a></li>
                    <li><a href="">Галерея</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
                <ul class="footer__social list-reset">
                    <li><a href="tel:+73833832673" target="_blank" rel="nofollow"><img
                                src="./assets/images/footer/u_phone-alt.svg" width="24" height="24" alt="phone">+7 (383)
                            383 26 73</a></li>
                    <li><img src="./assets/images/footer/u_map-marker.svg" alt="u_map">Новосибирская обл., п.
                        Октябрьский, ул. Локтинская, д. 10/2;</li>
                    <li class="flex-row">
                        <a href="http://" target="_blank" rel="nofollow"><img src="./assets/images/footer/TG.svg"
                                alt="TG" width="24" height="21"></a>
                        <a href="http://" target="_blank" rel="nofollow"><img src="./assets/images/footer/youtube.svg"
                                alt="youtube" width="24" height="24"></a>
                        <a href="http://" target="_blank" rel="nofollow"><img src="./assets/images/footer/Framevk.svg"
                                alt="Framevk" width="27" height="16"></a>
                    </li>
                </ul>
            </div>
            <ul class="flex-row footer__submenu list-reset">
                <li><a href="http://" target="_blank" rel="nofollow">Проектная декларация на сайте наш.дом.рф</a></li>
                <li><a href="http://" target="_blank" rel="nofollow">Политика конфиденциальности</a></li>
                <li><a href="http://" target="_blank" rel="nofollow">Создание сайта : Indigo</a></li>
            </ul>
            <div class="footer__text">
                <p>Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является
                    публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской
                    Федерации. Наличие квартир, актуальные цены и данные о жилых кварталах уточняйте в отделе продаж по
                    указанным на сайте телефонам </p>
                <p>Официальный сайт ООО  СФО «Основа»</p>
            </div>
        </div>
    </div>
</footer>