<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}
        <div class="overlay"></div>
    </div>
    <!-- <script src="assets/js/app.js"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const swiperWork = new Swiper('.gallary__inners', {
                slidesPerView: 1,      // Количество слайдов на странице
                spaceBetween: 19,      // Отступ между слайдами в пикселях
                loop: true,            // Включение циклического режима
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });

            // const playButton = document.querySelector('[data-play]');
            // const iframe = document.querySelector('.embed-container iframe');
            // const originalSrc = iframe.src;

            // playButton.addEventListener('click', function () {
            //     const parent = document.querySelector('.video__inner');
            //     parent.classList.add('hide');
            //     iframe.src = originalSrc + "?autoplay=1"; // Добавляем параметр autoplay для автоматического воспроизведения
            //     const playButton = document.querySelector('[data-play]');
            //     parent.classList.add('hide');
            // });
            const playButtons = document.querySelectorAll('[data-play]');
            // const innerWidth = document.innerWidth;


            playButtons.forEach(playButton => {
                playButton.addEventListener('click', function () {
                    // Находим родительский элемент с классом video__inner
                    const parent = playButton.closest('.video__inner');
                    const iframe = parent.querySelector('.embed-container iframe');
                    const originalSrc = iframe.src;

                    // Добавляем класс hide к родительскому элементу
                    parent.classList.add('hide');

                    // Добавляем параметр autoplay к src iframe
                    iframe.src = originalSrc + "?autoplay=1";
                });
            });
        });

    </script>
</body>

</html>